services:
 mariadb:
  build:
   context: ./requirements/mariadb
   dockerfile: Dockerfile
  container_name: mariadb
  #restart: always
  env_file:
   - .env
  secrets:
   - db_root_password
   - db_password
  volumes:
   - /home/penpalac/data/db:/var/lib/mysql
  networks:
   -  inception
  healthcheck:
   test: ["CMD", "mysqladmin", "ping", "--silent", "-u", "root", "-p$(cat /run/secrets/db_root_password)"]
   start_period: 30s
   interval: 10s
   timeout: 5s
   retries: 10

secrets:
 db_root_password:
  file: ../secrets/db_root_password.txt
 db_password:
  file: ../secrets/db_password.txt

networks:
 inception:
  driver: bridge
